{% extends 'base.html' %}

{% block page_title %}Make Post{% endblock %}

{% block content %}

    <div class="container" class="post_container_form">
        <h1>Make Post</h1>
        <form class="form-group" action="#" method="post">
            <label for="postTitleInput">Post Title:</label>
            <input type="text" class="form-control" name="postTitleInput" placeholder="Enter Title here" required>
            <br>
            <label for="postContentInput">Post Content:</label>
            <textarea class="form-control" name="postContentInput" placeholder="Enter post here." required></textarea>
            <br>
            <input type="submit" id="post_button" value="Submit" class="btn btn-primary">
        </form>
    </div>
{% endblock %}